h1{
    background-color: #aca9a9;
    text-align: center;
}
#p-one{
    background-color:#0088dd ;
}
#p-two{
    background-color:#0095e2 ;
}
#p-three{
    background-color:#00a0e6;
}
#p-four{
    background-color:#30aae9 ;
}
#p-five{
    background-color:#54b6ed ;
}
#p-six{
    background-color:#72c1f0 ;
}
#p-seven{
    background-color:#8ccaf2 ;
}
#p-eight{
    background-color: #00bb88;
}
#p-nine{
    background-color:#f5b0cc ;
}
#p-ten{
    background-color:#f69fc0 ;
}
#p-eleven{
    background-color:#f58cb2 ;
}
#p-twelve{
    background-color: #f47ba6;
}
#p-thirteen{
    background-color:#f36a98 ;
}
#p-fourteen{
    background-color:#f45a8b ;
}
#p-fifteen{
    background-color: #ee3e80;
}
